html {
  font-family: 'Inconsolata', monospace;
}

body {
  font-family: 'Inconsolata', monospace;
}

#contact {
  border-width: 1px;
  border-style: solid;
  width: 230px;
  padding: 10px;
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}