
body {
  background: #fcfcfb;
  color: #3c3323;
    /* background-image: url("tree1.png"); */
    /* background-repeat: no-repeat; */
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

h1 {  
  font-family: 'Libre Baskerville', serif;
}

.page {
  width: 710px;
  margin: 32px auto;
  background : white;
  padding: 48px 64px 64px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.04), 0 6px 6px rgba(0,0,0,0.06);
  border-radius: 5px;
}

#webdev {
  color: #967131;
}  

#skills {
    /* margin-left: -10; */
    display: flex; /* or inline-flex */
    justify-content: space-between;
}

#projects a {
  color: #967131;
  font-size: 15px;
}

#projects a:hover {
  color: #967131 !important
}

.skillType {
  color: #c23d20;
  margin-bottom: -15px;
}

ul {
  list-style-type: none;
  display:inline;
}

.projectName {
  color: #142cb5;
  display: inline;
}

.pathName {
  color: #c23d20;
  display: inline;
}

#path .icon {
  margin-right: 9px;
  margin-bottom: -2px;
}

#path .educationIcon {
  width:27px; 
  height:27px;
  margin-left: -3.5px;
  margin-right: 7px;
  margin-bottom: -5px;
}
  
#contact {
  width: 230px;
  padding: 20px;
  margin-bottom: -10px;
  font-size: 15px;
  /* background-color: #fff6e3; */
  /* border-style: dashed; */
  /* border-width: 1px; */
  /* border-radius: 5px; */
  /* border-color:#b8b8b8; */
}

#contact a {
  margin: 2px;
  position: relative;
  bottom: 3.3px;
}

#phone:hover {
  color: #3c3323 !important;
}

a:hover {
  color: #142cb5  !important;
  /* color:  #967131; */
  /* background-color: blue; */
}

a:link {
  color: #3c3323;
}

a:visited {
  color: #3c3323;
}
#name {
  /* font-family: PT Serif, serif; */
  /* font-family: 'Lobster', cursive; */
  font-family: 'Noto Serif', serif;

  font-size: 45px
}

#projects {
  margin-top: -15px;
}

.link {
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}


